.option {
    display: flex;
    flex-direction: row;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4b4b4b;
    margin-bottom: 9px;
}
.optionText{
    margin-left: 20px;
}

