.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tableContainer {
    padding: 20px;
    width: 700px;
    border: 0.5px solid gray;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 30px;
}

td {
    border: 1px solid black;
}
.wrapper {
    overflow-x: auto;
}

.description {
    font-family: "Open Sans";
    font-style: normal;
    margin: 30px;
    height: fit-content;
    line-height: 20px;
    color: rgb(93, 93, 93);
    text-align: justify;
    padding: 20px;
    border: 0.5px solid gray;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
