.button{
box-sizing: border-box;
width: 187px;
height: 52px;
background: #FFD83C;
border-radius: 23px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
color: #404040;
}